.custom-checkbox > input[type="checkbox"]:checked + label:before, .custom-radio > input[type="radio"]:checked + label:before {
    border-color: #00b1e1;
    background-color: #00b1e1;
}
.custom-checkbox:hover > label:before, .custom-radio:hover > label:before {
    border: 1px solid #00b1e1;
}